In [1]:
import wfdb
import csv
import pandas as pd
import numpy as np
import os

In [2]:
import os
import csv
import pandas as pd
import wfdb  # Make sure wfdb is installed

output_dir = "data_creation"
os.makedirs(output_dir, exist_ok=True)

# Patient numbers
patient_numbers = [
    "100", "101", "102", "103", "104", "105", "106", "107", "108", "109",
    "111", "112", "113", "114", "115", "116", "117", "118", "119", "121",
    "122", "123", "124", "200", "201", "202", "203", "205", "207", "208",
    "209", "210", "212", "213", "214", "215", "217", "219", "220", "221",
    "222", "223", "228", "230", "231", "232", "233", "234"
]

# N = normal 
# S = supra-ventricular premature
# V = ventricular escape
# F = fusion of ventricular and normal
# Q = unclassified heartbeats
symbol_to_category = {
    'N': 'N', '.': 'N', 'L': 'N', 'R': 'N', 'e': 'N', 'j': 'N',
    'a': 'S', 'A': 'S', 'J': 'S', 'S': 'S',
    'V': 'V', 'E': 'V',
    'F': 'F',
    '/': 'Q', 'f': 'Q', 'Q': 'Q'
}

for patient_number in patient_numbers:
    try:
        # ECG data
        path_to_record = f"mit-database/{patient_number}"
        patient_record = wfdb.rdrecord(path_to_record)
        leads = patient_record.sig_name
        ecg_data = patient_record.p_signal

        # ECG CSV
        ecg_filename = f"{output_dir}/{patient_number}_ECG.csv"
        with open(ecg_filename, "w", newline='') as outfile:
            out_csv = csv.writer(outfile)
            out_csv.writerow(leads)
            for row in ecg_data:
                out_csv.writerow(row)

        # Annotations data
        annotation = wfdb.rdann(path_to_record, 'atr')
        symbols = annotation.symbol
        annotations = annotation.sample

        # Filter out symbols not in symbol_to_category
        filtered_symbols_annotations = [(sym, ann) for sym, ann in zip(symbols, annotations) if sym in symbol_to_category]
        categories = [symbol_to_category[sym] for sym, ann in filtered_symbols_annotations]
        annotations_filtered = [ann for sym, ann in filtered_symbols_annotations]

        df_annotations = pd.DataFrame({'Category': categories, 'Annotation': annotations_filtered})

        # Annotations CSV
        annotations_filename = f"{output_dir}/{patient_number}_Annotations.csv"
        df_annotations.to_csv(annotations_filename, index=False)

    except Exception as e:
        print(f"Failed to process: {patient_number}: {e}")

print("Done")

Done

In [3]:
def process_patient_data(patient_number, data_creation_dir="data_creation"):

    ecg_file_path = os.path.join(data_creation_dir, f"{patient_number}_ECG.csv")
    annotations_file_path = os.path.join(data_creation_dir, f"{patient_number}_Annotations.csv")
    
    patient_X = []
    patient_Y = []
    
    try:
        ecg_df = pd.read_csv(ecg_file_path)
        annotations_df = pd.read_csv(annotations_file_path)
    except FileNotFoundError:
        print(f"Files for patient {patient_number} not found. Skipping...")
        return [], []
    
    first_column_name = ecg_df.columns[0]

    sampling_rate = 360  # Hz
    window_size_seconds = 3  # Seconds before and after annotation
    window_size_samples = window_size_seconds * sampling_rate

    for _, row in annotations_df.iterrows():
        annotation_point = row['Annotation']
        category = row['Category']
        
        start_point = max(0, annotation_point - window_size_samples)
        end_point = min(len(ecg_df), annotation_point + window_size_samples)
        
        window_data = ecg_df.iloc[start_point:end_point][first_column_name].to_numpy()
        if len(window_data) < window_size_samples * 2:
            window_data = np.pad(window_data, (0, window_size_samples * 2 - len(window_data)), 'constant')
        
        patient_X.append(window_data)
        patient_Y.append(category)
    
    return patient_X, patient_Y

# Initialize lists to hold the entire dataset
all_X = []
all_Y = []

data_creation_dir = "data_creation"

# Process each patient
for patient_number in patient_numbers:
    patient_X, patient_Y = process_patient_data(patient_number, data_creation_dir)
    all_X.extend(patient_X)
    all_Y.extend(patient_Y)

X = np.array(all_X)
Y = np.array(all_Y)

In [4]:
X

array([[-0.145, -0.145, -0.145, ...,  0.   ,  0.   ,  0.   ],
       [-0.145, -0.145, -0.145, ...,  0.   ,  0.   ,  0.   ],
       [-0.145, -0.145, -0.145, ...,  0.   ,  0.   ,  0.   ],
       ...,
       [-0.29 , -0.3  , -0.295, ...,  0.   ,  0.   ,  0.   ],
       [-0.29 , -0.29 , -0.28 , ...,  0.   ,  0.   ,  0.   ],
       [-0.215, -0.22 , -0.225, ...,  0.   ,  0.   ,  0.   ]])

In [5]:
Y

array(['N', 'N', 'N', ..., 'N', 'N', 'N'], dtype='<U1')

In [6]:
df_x = pd.DataFrame(X)
df_x

,0,1,2,3,4,5,6,7,8,9,...,2150,2151,2152,2153,2154,2155,2156,2157,2158,2159
0,-0.145,-0.145,-0.145,-0.145,-0.145,-0.145,-0.145,-0.145,-0.120,-0.135,...,0.000,0.000,0.000,0.000,0.00,0.000,0.00,0.00,0.00,0.000
1,-0.145,-0.145,-0.145,-0.145,-0.145,-0.145,-0.145,-0.145,-0.120,-0.135,...,0.000,0.000,0.000,0.000,0.00,0.000,0.00,0.00,0.00,0.000
2,-0.145,-0.145,-0.145,-0.145,-0.145,-0.145,-0.145,-0.145,-0.120,-0.135,...,0.000,0.000,0.000,0.000,0.00,0.000,0.00,0.00,0.00,0.000
3,-0.145,-0.145,-0.145,-0.145,-0.145,-0.145,-0.145,-0.145,-0.120,-0.135,...,0.000,0.000,0.000,0.000,0.00,0.000,0.00,0.00,0.00,0.000
4,-0.340,-0.335,-0.330,-0.350,-0.350,-0.345,-0.335,-0.335,-0.335,-0.350,...,-0.365,-0.375,-0.370,-0.365,-0.36,-0.355,-0.36,-0.36,-0.35,-0.340
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109489,-0.230,-0.215,-0.200,-0.205,-0.210,-0.225,-0.215,-0.225,-0.225,-0.240,...,-0.295,-0.280,-0.275,-0.275,-0.27,-0.280,-0.28,-0.27,-0.27,-0.275
109490,-0.250,-0.245,-0.260,-0.260,-0.275,-0.260,-0.275,-0.275,-0.275,-0.280,...,0.000,0.000,0.000,0.000,0.00,0.000,0.00,0.00,0.00,0.000
109491,-0.290,-0.300,-0.295,-0.290,-0.290,-0.295,-0.310,-0.320,-0.310,-0.300,...,0.000,0.000,0.000,0.000,0.00,0.000,0.00,0.00,0.00,0.000
109492,-0.290,-0.290,-0.280,-0.295,-0.300,-0.295,-0.285,-0.265,-0.245,-0.250,...,0.000,0.000,0.000,0.000,0.00,0.000,0.00,0.00,0.00,0.000
109493,-0.215,-0.220,-0.225,-0.225,-0.230,-0.230,-0.245,-0.250,-0.250,-0.235,...,0.000,0.000,0.000,0.000,0.00,0.000,0.00,0.00,0.00,0.000

In [7]:
df_y = pd.DataFrame(Y, columns=['ColumnName'])
print(df_y)

       ColumnName
0               N
1               N
2               N
3               N
4               N
...           ...
109489          N
109490          N
109491          N
109492          N
109493          N

[109494 rows x 1 columns]

In [8]:
value_counts_y = df_y['ColumnName'].value_counts()
print(value_counts_y)

ColumnName
N    90631
Q     8043
V     7236
S     2781
F      803
Name: count, dtype: int64

In [9]:
df_fusionné = pd.concat([df_y, df_x], axis=1)
df_fusionné

,ColumnName,0,1,2,3,4,5,6,7,8,...,2150,2151,2152,2153,2154,2155,2156,2157,2158,2159
0,N,-0.145,-0.145,-0.145,-0.145,-0.145,-0.145,-0.145,-0.145,-0.120,...,0.000,0.000,0.000,0.000,0.00,0.000,0.00,0.00,0.00,0.000
1,N,-0.145,-0.145,-0.145,-0.145,-0.145,-0.145,-0.145,-0.145,-0.120,...,0.000,0.000,0.000,0.000,0.00,0.000,0.00,0.00,0.00,0.000
2,N,-0.145,-0.145,-0.145,-0.145,-0.145,-0.145,-0.145,-0.145,-0.120,...,0.000,0.000,0.000,0.000,0.00,0.000,0.00,0.00,0.00,0.000
3,N,-0.145,-0.145,-0.145,-0.145,-0.145,-0.145,-0.145,-0.145,-0.120,...,0.000,0.000,0.000,0.000,0.00,0.000,0.00,0.00,0.00,0.000
4,N,-0.340,-0.335,-0.330,-0.350,-0.350,-0.345,-0.335,-0.335,-0.335,...,-0.365,-0.375,-0.370,-0.365,-0.36,-0.355,-0.36,-0.36,-0.35,-0.340
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109489,N,-0.230,-0.215,-0.200,-0.205,-0.210,-0.225,-0.215,-0.225,-0.225,...,-0.295,-0.280,-0.275,-0.275,-0.27,-0.280,-0.28,-0.27,-0.27,-0.275
109490,N,-0.250,-0.245,-0.260,-0.260,-0.275,-0.260,-0.275,-0.275,-0.275,...,0.000,0.000,0.000,0.000,0.00,0.000,0.00,0.00,0.00,0.000
109491,N,-0.290,-0.300,-0.295,-0.290,-0.290,-0.295,-0.310,-0.320,-0.310,...,0.000,0.000,0.000,0.000,0.00,0.000,0.00,0.00,0.00,0.000
109492,N,-0.290,-0.290,-0.280,-0.295,-0.300,-0.295,-0.285,-0.265,-0.245,...,0.000,0.000,0.000,0.000,0.00,0.000,0.00,0.00,0.00,0.000
109493,N,-0.215,-0.220,-0.225,-0.225,-0.230,-0.230,-0.245,-0.250,-0.250,...,0.000,0.000,0.000,0.000,0.00,0.000,0.00,0.00,0.00,0.000

In [10]:
# df_fusionné.to_csv('df_fusionné.csv', index=False)

In [11]:
df_fusionné_binaire = df_fusionné.copy()
df_fusionné_binaire.iloc[:, 0] = df_fusionné_binaire.iloc[:, 0].apply(lambda x: 0 if x != 'N' else 1)

In [12]:
df_fusionné_binaire

,ColumnName,0,1,2,3,4,5,6,7,8,...,2150,2151,2152,2153,2154,2155,2156,2157,2158,2159
0,1,-0.145,-0.145,-0.145,-0.145,-0.145,-0.145,-0.145,-0.145,-0.120,...,0.000,0.000,0.000,0.000,0.00,0.000,0.00,0.00,0.00,0.000
1,1,-0.145,-0.145,-0.145,-0.145,-0.145,-0.145,-0.145,-0.145,-0.120,...,0.000,0.000,0.000,0.000,0.00,0.000,0.00,0.00,0.00,0.000
2,1,-0.145,-0.145,-0.145,-0.145,-0.145,-0.145,-0.145,-0.145,-0.120,...,0.000,0.000,0.000,0.000,0.00,0.000,0.00,0.00,0.00,0.000
3,1,-0.145,-0.145,-0.145,-0.145,-0.145,-0.145,-0.145,-0.145,-0.120,...,0.000,0.000,0.000,0.000,0.00,0.000,0.00,0.00,0.00,0.000
4,1,-0.340,-0.335,-0.330,-0.350,-0.350,-0.345,-0.335,-0.335,-0.335,...,-0.365,-0.375,-0.370,-0.365,-0.36,-0.355,-0.36,-0.36,-0.35,-0.340
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109489,1,-0.230,-0.215,-0.200,-0.205,-0.210,-0.225,-0.215,-0.225,-0.225,...,-0.295,-0.280,-0.275,-0.275,-0.27,-0.280,-0.28,-0.27,-0.27,-0.275
109490,1,-0.250,-0.245,-0.260,-0.260,-0.275,-0.260,-0.275,-0.275,-0.275,...,0.000,0.000,0.000,0.000,0.00,0.000,0.00,0.00,0.00,0.000
109491,1,-0.290,-0.300,-0.295,-0.290,-0.290,-0.295,-0.310,-0.320,-0.310,...,0.000,0.000,0.000,0.000,0.00,0.000,0.00,0.00,0.00,0.000
109492,1,-0.290,-0.290,-0.280,-0.295,-0.300,-0.295,-0.285,-0.265,-0.245,...,0.000,0.000,0.000,0.000,0.00,0.000,0.00,0.00,0.00,0.000
109493,1,-0.215,-0.220,-0.225,-0.225,-0.230,-0.230,-0.245,-0.250,-0.250,...,0.000,0.000,0.000,0.000,0.00,0.000,0.00,0.00,0.00,0.000

In [13]:
df = df_fusionné_binaire

In [14]:
df.head()

,ColumnName,0,1,2,3,4,5,6,7,8,...,2150,2151,2152,2153,2154,2155,2156,2157,2158,2159
0,1,-0.145,-0.145,-0.145,-0.145,-0.145,-0.145,-0.145,-0.145,-0.120,...,0.000,0.000,0.00,0.000,0.00,0.000,0.00,0.00,0.00,0.00
1,1,-0.145,-0.145,-0.145,-0.145,-0.145,-0.145,-0.145,-0.145,-0.120,...,0.000,0.000,0.00,0.000,0.00,0.000,0.00,0.00,0.00,0.00
2,1,-0.145,-0.145,-0.145,-0.145,-0.145,-0.145,-0.145,-0.145,-0.120,...,0.000,0.000,0.00,0.000,0.00,0.000,0.00,0.00,0.00,0.00
3,1,-0.145,-0.145,-0.145,-0.145,-0.145,-0.145,-0.145,-0.145,-0.120,...,0.000,0.000,0.00,0.000,0.00,0.000,0.00,0.00,0.00,0.00
4,1,-0.340,-0.335,-0.330,-0.350,-0.350,-0.345,-0.335,-0.335,-0.335,...,-0.365,-0.375,-0.37,-0.365,-0.36,-0.355,-0.36,-0.36,-0.35,-0.34

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 109494 entries, 0 to 109493
Columns: 2161 entries, ColumnName to 2159
dtypes: float64(2160), object(1)
memory usage: 1.8+ GB

In [16]:
df.describe()

,0,1,2,3,4,5,6,7,8,9,...,2150,2151,2152,2153,2154,2155,2156,2157,2158,2159
count,109494.000000,109494.000000,109494.000000,109494.000000,109494.000000,109494.000000,109494.000000,109494.000000,109494.000000,109494.000000,...,109494.000000,109494.000000,109494.000000,109494.000000,109494.000000,109494.000000,109494.000000,109494.000000,109494.000000,109494.000000
mean,-0.299755,-0.299334,-0.298908,-0.298513,-0.298156,-0.297809,-0.297526,-0.297339,-0.297211,-0.297200,...,-0.312230,-0.313124,-0.313986,-0.314873,-0.315536,-0.316159,-0.316754,-0.317425,-0.318252,-0.319135
std,0.466226,0.466771,0.467396,0.467988,0.468460,0.468655,0.468656,0.468694,0.469118,0.469872,...,0.472097,0.470284,0.468284,0.466414,0.464827,0.463532,0.462240,0.460744,0.459153,0.457322
min,-5.120000,-5.120000,-5.120000,-5.120000,-5.120000,-5.120000,-5.120000,-5.120000,-5.120000,-5.120000,...,-5.120000,-5.120000,-5.120000,-5.120000,-5.120000,-5.120000,-5.120000,-5.120000,-5.120000,-5.120000
25%,-0.515000,-0.515000,-0.515000,-0.515000,-0.515000,-0.515000,-0.510000,-0.510000,-0.513750,-0.515000,...,-0.540000,-0.540000,-0.540000,-0.540000,-0.540000,-0.540000,-0.540000,-0.540000,-0.535000,-0.535000
50%,-0.270000,-0.270000,-0.270000,-0.270000,-0.270000,-0.270000,-0.270000,-0.270000,-0.270000,-0.270000,...,-0.275000,-0.275000,-0.275000,-0.275000,-0.280000,-0.280000,-0.280000,-0.280000,-0.280000,-0.280000
75%,-0.120000,-0.120000,-0.120000,-0.120000,-0.120000,-0.120000,-0.120000,-0.120000,-0.120000,-0.120000,...,-0.135000,-0.135000,-0.135000,-0.140000,-0.140000,-0.140000,-0.140000,-0.140000,-0.140000,-0.140000
max,5.115000,5.115000,5.115000,5.115000,5.115000,5.115000,5.115000,5.115000,5.115000,5.115000,...,5.115000,5.115000,5.115000,5.115000,5.115000,5.115000,5.115000,5.115000,5.115000,5.115000

In [17]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df_x, df_y, test_size=0.2, random_state=42)

In [19]:
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV

C_values = [0.01, 0.1, 1, 10, 100]

model = GridSearchCV(SVC(max_iter=1000000), param_grid={'C': C_values}, scoring='accuracy', cv=5)

model.fit(X_train, y_train)

/Users/arthurdesmazures/venv-metal/lib/python3.9/site-packages/sklearn/utils/validation.py:1229: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [ ]:
y_pred = model.predict(X_test)

In [ ]:
from sklearn.metrics import confusion_matrix

print confusion_matrix(y_pred, y_test)