In [32]:
import pandas as pd

In [33]:
df_fusionné = pd.read_csv('df_fusionné.csv')

In [34]:
df_fusionné_binaire = df_fusionné.sample(frac=0.01)
df_fusionné_binaire.iloc[:, 0] = df_fusionné_binaire.iloc[:, 0].apply(lambda x: 0 if x == 'N' else 1)

In [35]:
counts = df_fusionné_binaire.iloc[:, 0].value_counts()
min_count = counts.min()

# Create balanced DataFrame through undersampling
df_balanced_under = pd.concat([
    df_fusionné_binaire[df_fusionné_binaire.iloc[:, 0] == 0].sample(min_count),
    df_fusionné_binaire[df_fusionné_binaire.iloc[:, 0] == 1].sample(min_count)
])

# Shuffle the DataFrame to mix the classes
df_balanced_under = df_balanced_under.sample(frac=1)

In [36]:
value_counts = df_balanced_under.iloc[:, 0].value_counts()

print(value_counts)

ColumnName
1    378
0    378
Name: count, dtype: int64

In [37]:
df_balanced_under

,ColumnName,0,1,2,3,4,5,6,7,8,...,350,351,352,353,354,355,356,357,358,359
195280,1,0.738967,0.736213,0.724819,0.707381,0.701063,0.695575,0.671175,0.640686,0.618701,...,0.462469,0.459836,0.462348,0.465820,0.468463,0.474832,0.463613,0.467341,0.486698,0.470600
13104,0,0.470099,0.464199,0.458407,0.452593,0.452615,0.454657,0.457487,0.460664,0.461092,...,0.650538,0.597622,0.536399,0.475443,0.456459,0.454757,0.449382,0.446810,0.457477,0.471592
83763,0,0.432122,0.434323,0.436297,0.437908,0.438831,0.439154,0.438237,0.436536,0.434902,...,0.416860,0.414766,0.415939,0.418293,0.421071,0.424099,0.425970,0.427515,0.428829,0.430048
149480,1,0.503518,0.501392,0.508724,0.497203,0.501599,0.506959,0.504784,0.500468,0.500554,...,0.399701,0.403151,0.401560,0.398480,0.401670,0.407747,0.404729,0.406546,0.412507,0.405883
113900,1,0.466519,0.470302,0.459624,0.469558,0.464893,0.460021,0.463678,0.469627,0.468748,...,0.592582,0.590206,0.592808,0.596506,0.593301,0.586388,0.588057,0.583756,0.573306,0.576623
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166159,1,0.502682,0.498059,0.505445,0.496076,0.499837,0.504057,0.499835,0.493254,0.492678,...,0.435302,0.440561,0.436406,0.428850,0.427526,0.428909,0.419919,0.415223,0.419644,0.414298
172549,0,0.496979,0.495891,0.495426,0.495294,0.494434,0.493699,0.492969,0.492680,0.494586,...,0.517238,0.518530,0.517401,0.515201,0.512745,0.509936,0.507163,0.504460,0.501447,0.498605
138642,0,0.482342,0.481324,0.479470,0.478142,0.482166,0.488348,0.495548,0.503326,0.509591,...,0.474259,0.474885,0.474996,0.475058,0.474727,0.474528,0.475715,0.477231,0.479960,0.482770
101255,0,0.485836,0.486327,0.486685,0.487057,0.487750,0.488435,0.489231,0.489882,0.489480,...,0.484940,0.484871,0.484917,0.485007,0.485178,0.485373,0.485415,0.485443,0.485451,0.485491
75016,0,0.432665,0.432253,0.431818,0.431344,0.430842,0.430335,0.429791,0.429260,0.428874,...,0.433407,0.433427,0.433426,0.433407,0.433338,0.433247,0.433202,0.433138,0.433078,0.432976

In [38]:
import pandas as pd
from sklearn.model_selection import train_test_split

X = df_balanced_under.iloc[:, 1:]  
y = df_balanced_under.iloc[:, 0] 

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [39]:
print(y_train.unique())

[1 0]

In [40]:
y_train = y_train.astype(int)
y_test = y_test.astype(int)

In [45]:
import tensorflow as tf
from keras.models import Sequential
from keras.layers import Conv1D, BatchNormalization, MaxPooling1D, Dropout, Flatten, Dense
from keras.optimizers import Adam, Adadelta

In [49]:
import numpy as np
from sklearn.model_selection import GridSearchCV
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Conv1D, Dense, Flatten
from tensorflow.keras.optimizers import Adam

# Define the model building function
def build_model(learning_rate=0.001):

    Model = Sequential()

    Model.add(Conv1D(512, 20, strides=1, padding="same", activation="relu", input_shape=(360, 1)))
    Model.add(BatchNormalization())
    Model.add(MaxPooling1D(3, strides=2, padding="same"))

    Model.add(Conv1D(256, 20, strides=1, padding="same", activation="relu"))
    Model.add(Dropout(0.2))
    Model.add(MaxPooling1D(3, strides=2, padding="same"))

    Model.add(Conv1D(1024, 20, strides=1, padding="same", activation="relu"))
    Model.add(Dropout(0.2))
    Model.add(MaxPooling1D(3, strides=2, padding="same"))

    Model.add(Conv1D(128, 20, strides=1, padding="same", activation="relu"))
    Model.add(Dropout(0.2))
    Model.add(MaxPooling1D(3, strides=2, padding="same"))

    Model.add(Conv1D(256, 20, strides=1, padding="same", activation="relu"))
    Model.add(Dropout(0.2))
    Model.add(MaxPooling1D(3, strides=2, padding="same"))

    Model.add(Conv1D(64, 20, strides=1, padding="same", activation="relu"))
    Model.add(Dropout(0.2))
    Model.add(MaxPooling1D(3, strides=2, padding="same"))

    Model.add(Conv1D(32, 20, strides=1, padding="same", activation="relu"))
    Model.add(Dropout(0.2))
    Model.add(MaxPooling1D(3, strides=2, padding="same"))

    Model.add(Flatten())
    Model.add(Dense(1024, activation='relu'))
    Model.add(Dropout(0.2))

    Model.add(Dense(512, activation='relu'))
    Model.add(Dropout(0.2))

    Model.add(Dense(64, activation='relu'))
    Model.add(Dropout(0.2))

    Model.add(Dense(units=1, activation='sigmoid'))  # Use 'sigmoid' for binary classification
    
    Model.compile(optimizer=Adam(learning_rate=learning_rate), loss='binary_crossentropy', metrics=['accuracy'])
    return Model

In [51]:
from tensorflow.keras.wrappers.scikit_learn import KerasClassifier


# Wrap the model with KerasClassifier (move the epochs parameter to the fit method)
model = KerasClassifier(model=build_model, verbose=3, epochs=5) # Default epochs value

param_grid = {
    'model__learning_rate': [0.001],
    'epochs': [1]
}

# Run grid search
grid = GridSearchCV(estimator=model, param_grid=param_grid, n_jobs=1, cv=2)
grid_result = grid.fit(X_train, y_train) # Assuming you have defined X_train and y_train

ModuleNotFoundError: No module named 'tensorflow.keras.wrappers'

In [ ]:

# Summary
print("Best: %f using %s" % (grid_result.best_score_, grid_result.best_params_))
for mean_score, params in zip(grid_result.cv_results_['mean_test_score'], grid_result.cv_results_['params']):
    print("%f with: %r" % (mean_score, params))